{% extends 'index.html' %}

{% block title %}
Проект BioQuest
{% endblock %}

{% block content %}
    <div class="col">
    <h1>Проект BioQuest</h1>
    <p>Цель нашего проекта — создание базы вопросов ВсОШ и перечневых олимпиад по биологии, чтобы школьники из любого региона могли решать вопросы, сортируя их по тематике или олимпиаде.
        Каждый зарегистрированный пользователь может добавлять вопросы в базу, однако мы просим вас делать это вдумчиво и аккуратно, проверять ответы по ключам.
        Чтобы вводить всё правильно, ознакомьтесь с <a href="{% url 'instructions' %}"> инструкциями</a>.
        Если у вас есть вопросы, предложения или сообщения об ошибках — пишите нам на почту <a href='mailto:5methyluracil@gmail.com'>5methyluracil@gmail.com</a>, указав в теме письма "BioQuest".
        Если вы <b>преподаватель биологии</b> и хотите помочь проекту с добавлением разборов и их редактированием, напишите нам на почту, и мы выдадим вам права администратора.</p>
    </div>
{% endblock %}
