{% extends 'index.html' %}

{% block title %}
Добавление вопросов
{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<div class="col">
  Здесь можно будет добавлять вопросы!
  <form method="post" enctype="multipart/form-data" action=".">
    {% csrf_token %}
    ----------
    Вопрос
    {{ addform|crispy }}
    ----------
    Картинки к вопросу (до 5 шт)
      {{ quimage.management_form }}
      {% for item in quimage %}
        {{ item|crispy }}
      {% endfor %}
      <button id="add-quimage-form" class="btn btn-primary my-3">Add Another Image</button>
    <br>
    ----------
    Разбор вопроса
    {{ comment|crispy }}
    ----------
    Картинки к разбору (до 3 шт)
    {{ coimage|crispy }}
    ----------
    Файлы к разбору (до 3 шт)
    {{ cofile|crispy }}
    ----------
    Варианты ответа
    {{ var|crispy }}
    ----------
    Буквы для соответствия
    {{ letter|crispy }}
    <input type="submit" name="submit" value="Submit" class="btn btn-primary">
  </form>
</div>

{% endblock %}
