{% extends 'index.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<div class="col">

  {% if search %}
      {% if not questions %}
          <h5>К сожалению, по запросу "{{ search }}" ничего не нашлось. Наш поиск пока что не очень умный, попробуйте ввести часть слова без окончания. Заглавные буквы имеют значение, попробуйте ввести слово с большой или с маленькой буквы.</h5>
      {% else %}
          <h2>Результаты по запросу "{{ search }}"</h2>
      {% endif %}

  {% elif topic %}
      <h2>Все вопросы по теме "{{ topic }}"</h2>

  {% else %}
  <h2>Список всех вопросов. Пополните его через форму "Добавить вопросы"!</h2>
  {% endif %}
  <p>
      Возможность <b>автоматической</b> проверки вопросов доступна в личном кабинете. Через поиск можно искать вопросы по тексту, этапу или названию олимпиады.
  </p>
  <br>
  {% if not search %}
  <h3>Все вопросы по разделу:</h3>
      {% for el in tags %}
          <a class="pad" href="#">{{el.name}}</a>
      {% endfor %}
  {% endif %}

  {% include 'question.html' %}

</div>

{% endblock %}
